In [2]:
%env AOC_SESSION = 53616c7465645f5f49059f4a5c4159c843c84bbe8c7955cbf891ebc16bea3d3d905d07da111068b3092e19a3aa92bb829951cbc4263fdb4cecd12e120e064a3f

env: AOC_SESSION=53616c7465645f5f49059f4a5c4159c843c84bbe8c7955cbf891ebc16bea3d3d905d07da111068b3092e19a3aa92bb829951cbc4263fdb4cecd12e120e064a3f

In [40]:
from aocd import get_data
data = (get_data(day=1, year=2022)).split('\n')

In [94]:

space = data[13]
lst = []
tmp = []
for i in data:
    if i != space:
        i = int(i)
        tmp.append(i)
    else:
        lst.append(sum(tmp))
        tmp = []

print(f"Part one answer: {max(lst)}")
lst.sort(reverse = True)
print(f"Part two answer: {sum(lst[:3])}")

Part one answer: 70509
Part two answer: 208567